body{
    background-color: #000000;
}
/*Login*/
body.bg_filmes{
    background-image: url(assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    padding: 30px;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,69)0%,
        rgba(0,0,0,0)100%
    );
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}
header img{
    width: 250px !important;
}
.btn-custom-round{
    padding: 6px 9px !important;
    display: inline-block;
}
.btn-custom-white{
    background-color: #ffffff;
}
.btn-custom-white:hover{
    opacity: 0.8;
}
.btn-custom-translucid{
    background-color:  rgba(255,255,255,0.2);
    color: #ffffff;
}
.btn-custom-translucid:hover{
    color: #ffffff;
    opacity: 0.8;
}
#caixa_login{
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    margin-top: 150px;
    width: 400px;
}
/* Home */

.menu_list{
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
    li{
        display: inline-block;
        margin-left: 15px;
        a{
            text-decoration: none;
            color: #ffffff;
        }
    }
}
#hero{
    height: 800px;
    background-image: url(assets/diaboNossoHero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}
#hero::after{
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(
        360deg,
        rgba(0,0,0,69)0%,
        rgba(0,0,0,0)100%
    );
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(800px - 350px);
}
#hero_infos{
    margin-left: 3%;
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}
#hero_infos img.logo{
    margin-bottom: 50px;
    width: 500px;
}
#hero_infos h1{
    margin-bottom: 20px;
}
#main-content{
    margin-top: 800px;
}
.filme_lista{
    overflow-x: scroll;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    border: 1px solid transparent;
}
.filme_lista::-webkit-scrollbar{
    display: none;
}
.filme{
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    overflow: auto;
    overflow-y: hidden;
    border: 1px solid transparent;
    img{
        width: 100%;
    }
}
.filme:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
    transition: 0.5s;
}
.filme:hover .filme_info{
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
}
.filme:first-child{
    margin-left: 70px;
    padding-left: 0;
}
.filme_info{
    background-color: #171717;
    padding: 10px;
    height: 100px;
    width: 100%;
    transform: scale(0);
}
.filme_info .col-12{
    margin-top: 5px;
}
.filme_info .col-12:first-child{
    margin-bottom: 20px;
}
.filme_info p{
    color: #7E7B7B;
    font-size: 12px;
}
.filme_info p text{
    color: #ffffff;
    font-size: 12px;
}
section{
    margin-bottom: -100px;
    position: relative;
}
section:hover{
    z-index: 9;
}

/* MODAL */
.modal-dialog, .modal-content{
    background-color:#171717;
}
.modal-dialog{
    max-width: 600px;
}
.modal-hero{
    height: 300px;
    background-image: url(assets/diaboNossoHero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 30px;
}
.modal-hero::after{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: linear-gradient(
        360deg,
        rgba(0,0,0,69)0%,
        rgba(0,0,0,0)100%
    );
    position: absolute;
    left: 0;
    margin-top: -155px;
    z-index: 1;
}
.modal-hero img{
    width: 250px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}
.modal-hero-infos{
    position: relative;
    z-index: 2;
}
.modal-hero-infos button:first-child{
    margin-right: 20px;
}
.filme_descricao{
    font-size: 15px;
    color: #ffffff;
}
.filme_elenco{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
.filme_elenco text{
    color: #ffffffff;
}
#lista_episodeos{
    list-style: none;
    padding: 0;
}
#lista_episodeos li:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
}
#lista_episodeos li{
    padding: 20px;
}
#lista_episodeos p{
    font-size: 13px;
}